.avatar {
    position: relative;
    @include respond(tab-port) {
        width: 100%;
    }

    &__img {
        border-radius: 100px;
        width: 80px;
        backface-visibility: hidden;
    }
}