.companies {
    &__name {
        font-size: $medium-font-size;
    }

    &__role {
        font-size: $mid-font-size;
        font-weight: 600;
    }

    &__date {
        color: $color-primary;
        font-size: $small-font-size;
    }

    &__place {
        color: $color-primary;
        font-size: $small-font-size;
    }

    &__accompolish {
        font-size: $mid-font-size;
        font-weight: 600;
    }

    ul {
        list-style: none;
    }

    li::before {
        color: $color-primary;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }
}