.companies {
    &__name {
        letter-spacing: 0.2rem;
        border-bottom: 1px solid $color-dark-grey;
        display: inline-block;
    }

    &__details {
        color: $color-primary;
        @include respond(tab-port) {
            padding: 0;
            margin-bottom: 0.5rem;
        }
    }

    &__accom {
        color: $color-primary;
        font-weight: 600;
    }

    ul {
        list-style: none;
    }

    li::before {
        color: $color-primary;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }
}