.contact {
    font-size: $default-font-size;
    position: absolute;
    text-align: right;

    @include respond(tab-port) {
        text-align: left;
        position: relative;
        padding-bottom: 3rem;
    }

   &__link {
        text-decoration: none;
    }
}