.contact {
    font-size: $default-font-size;
    position: absolute;
    text-align: right;
    &__id {
        
    }
    &__link {
        text-decoration: none;
    }
    &__number {
        
    }
}