.skills {
    &__title {
        font-size: $medium-font-size;
        font-weight: 700;
    }

    &__technos {
        display: inline-block;
        padding: 1.5rem;
        border: 1px solid;
        margin: 0 auto !important;
        color: $color-white;
        background-color: $color-primary;
        border-radius: 3px;
    }
}